@use '../variables';

header {
    background-color: variables.$dark-blue;

    .primary-container {
        border-bottom: solid 1px rgba(variables.$blue, 0.35);

        nav {
            display: flex;
            align-items: center;
            padding: 20px 0;

            .menu-container {
                display: flex;
                align-items: center;
                gap: 20px;

                .logo {

                    img {
                        display: block;
                        width: 50px;
                        height: 50px;
                    }
                }
    
                .menu {
                    display: none;
                    gap: 20px;
                    list-style-type: none;

                    @media #{variables.$tablet} {
                        display: flex;
                    }
    
                    li {
    
                        a {
                            color: variables.$white;
                            text-decoration: none;
                            padding: 10px;
                            border-radius: 4px;
                            font-size: 14px;
                            font-weight: 500;
                            transition: all ease-in-out 0.5s;
    
                            &:hover {
                                background-color: variables.$blue;
                            }
                        }
                    }
                }
            }
        }
    }
}