{% extends '../_base.html' %}

{% block heading %}
    <div class="flex-wrapper align-center">
        <h1>Leaderboard</h1>
        <p class="white-text m-0">You have visited the Darts Portal {{ visit_count }} time{{ visit_count|pluralize }}</p>
    </div>
{% endblock heading %}

{% block main %}
    <section class="stats-section">
        <div class="primary-container">
            <div class="flex-wrapper align-stretch">
                <div class="stats-container full-width">
                    <div class="span">
                        <h3>{{ last_result.date|date:"l j F" }}</h3>
                        <div class="flex-wrapper">
                            <div class="global-stats-container">
                                <p>Winner: <span class="blue-text">{{ last_result.winner.first_name }} {{ last_result.winner.last_name }}</span></p>
                                <p>Runner Up: <span class="blue-text">{{ last_result.runner_up.first_name }} {{ last_result.runner_up.last_name }}</span></p>
                                <a id="toggle-modal" class="mt-24 blue-text block" href="#">Full Results</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="stats-container full-width">
                    <div class="span">
                        <h3>Current Form</h3>
                        <div class="flex-wrapper">
                            <div class="global-stats-container">
                                {% for player in top_5_form %}
                                    <p>{{ player.get_form_emoji }} {{ player.first_name }} {{ player.last_name }}: <span class="blue-text">{{ player.get_form_score|floatformat:1 }}</span></p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="stats-container full-width">
                    <div class="span">
                        <h3>Win Ratio</h3>
                        <div class="flex-wrapper">
                            <div class="global-stats-container">
                                {% for player in top_5_win_ratio %}
                                    <p>{{ player.first_name }} {{ player.last_name }}: <span class="blue-text">{{ player.get_win_ratio }}%</span></p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="stats-container full-width">
                    <div class="span">
                        <h3>This Year at a Glance</h3>
                        <div class="flex-wrapper">
                            <div class="global-stats-container">
                                <p>Total Games: <span class="blue-text">{{ this_years_game_count }}</span></p>
                                <p>Total Players: <span class="blue-text">{{ this_years_player_count }}</span></p>
                                <a class="mt-24 blue-text block" href="{% url 'darts:all_games' %}">All Results</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="stats-section">
        <div class="primary-container">
            <div class="stats-container">
                <div class="flex-wrapper">
                    <div class="league">
                        <h2>Champions League</h2>
                        <ul class="m-0">
                            {% for player in players|slice:":3" %}
                                <li class="player-card">
                                    <p>{{ player.get_form_emoji }} {{ player.first_name }}{% if player.nickname %} <span>"{{ player.nickname }}"</span> {% endif %} {{ player.last_name }}</p>
                                    <p class="game-info">(P{{ player.get_this_years_games_played }} RU{{ player.get_this_years_runner_ups }}) <span class="win-count">{{ player.get_this_years_wins }}</span></p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="league">
                        <h2>Premier League</h2>
                        <ul class="m-0">
                            {% for player in players|slice:"3:6" %}
                                <li class="player-card">
                                    <p>{{ player.get_form_emoji }} {{ player.first_name }}{% if player.nickname %} <span>"{{ player.nickname }}"</span> {% endif %} {{ player.last_name }}</p>
                                    <p class="game-info">(P{{ player.get_this_years_games_played }} RU{{ player.get_this_years_runner_ups }}) <span class="win-count">{{ player.get_this_years_wins }}</span></p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="league">
                        <h2>Championship</h2>
                        <ul class="m-0">
                            {% for player in players|slice:"6:9" %}
                                <li class="player-card">
                                    <p>{{ player.get_form_emoji }} {{ player.first_name }}{% if player.nickname %} <span>"{{ player.nickname }}"</span> {% endif %} {{ player.last_name }}</p>
                                    <p class="game-info">(P{{ player.get_this_years_games_played }} RU{{ player.get_this_years_runner_ups }}) <span class="win-count">{{ player.get_this_years_wins }}</span></p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="league">
                        <h2>Vanarama</h2>
                        <ul class="m-0">
                            {% for player in players|slice:"9:" %}
                                <li class="player-card">
                                    <p>{{ player.get_form_emoji }} {{ player.first_name }}{% if player.nickname %} <span>"{{ player.nickname }}"</span> {% endif %} {{ player.last_name }}</p>
                                    <p class="game-info">(P{{ player.get_this_years_games_played }} RU{{ player.get_this_years_runner_ups }}) <span class="win-count">{{ player.get_this_years_wins }}</span></p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="stats-section">
        <div class="primary-container">
            <div class="flex-wrapper align-stretch">
                <div class="stats-container full-width">
                    <div class="span">
                        <h3>Monthly Top 3</h3>
                        <ul>
                            {% for player in monthly_leaders %}
                                <li class="player-card">
                                    <p>{{ player.first_name }} {{ player.last_name }}</p>
                                    <p class="game-info"><span class="win-count">{{ player.get_this_months_wins }}</span></p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="stats-container full-width">
                    <div class="span">
                        <h3>Weekly Top 3</h3>
                        <ul>
                            {% for player in weekly_leaders %}
                                <li class="player-card">
                                    <p>{{ player.first_name }} {{ player.last_name }}</p>
                                    <p class="game-info"><span class="win-count">{{ player.get_this_weeks_wins }}</span></p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="last-result-modal" class="modal-section">
        <div class="flex-container">
            <div class="content-container">
                <h2 class="blue-text">Did Well</h2>
                <p>Winner: <span class="blue-text">{{ last_result.winner.first_name }} {{ last_result.winner.last_name }}</span></p>
                <p>Runner Up: <span class="blue-text">{{ last_result.runner_up.first_name }} {{ last_result.runner_up.last_name }}</span></p>
                <a id="close-modal" class="button" href="#">Close</a>
            </div>
            <div class="content-container">
                <h2 class="blue-text">Didn't Do So Well</h2>
                {% for player in last_result.participants.all %}
                    {% if player.last_name != last_result.winner.last_name and player.last_name != last_result.runner_up.last_name %}
                        <p>{{ player.first_name }} {{ player.last_name }}</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock main %}

{% block sidebar %}
    {% for player in players %}
        <aside class="sidebar">
            <a href="#" class="button-close">&times;</a>
            <div class="sidebar-wrapper">
                <div class="flex-wrapper align-center">
                    <h3>{{ player.first_name }} {{ player.last_name }}</h3>
                    <a class="button" href="{{ player.get_absolute_url }}">More Stats</a>
                </div>
                <ul class="statisitics-wrapper">
                    <li><p>Wins: <span>{{ player.get_this_years_wins }}</span></p></li>
                    <li><p>Runner Ups: <span>{{ player.get_this_years_runner_ups }}</span></p></li>
                    <li><p>Games Played: <span>{{ player.get_this_years_games_played }}</span></p></li>
                    <li><p>Percentage of Games Played: <span>{{ player.get_this_years_games_played_percentage }}%</span></p></li>
                    
                    <li class="mt-36"><p>Last Played: <span>{{ player.get_last_game_played }}</span></p></li>
                    <li><p>Last Win: <span>{{ player.get_last_win }}</span></p></li>
                    <li><p>Predicted Wins: <span>{{ player.get_predicted_wins }}</span></p></li>
                    <li><p>Win Ratio: <span>{{ player.get_win_ratio }}%</span></p></li>
                    
                    <li class="mt-36"><p>All-time Wins: <span>{{ player.get_total_points }}</span></p></li>
                    <li><p>All-time Games Played: <span>{{ player.games_played.count }}</span></p></li>
                    <!--<li><p>Longest Win Streak: <span>[ Streak ]</span></p></li>-->
                </ul>
                <div class="form">
                    <h4>Current Form: {{ player.get_form_score|floatformat:1 }}</h4>
                    <div class="form-labels flex-wrapper">
                        <p class="white-text m-0">Oldest</p>
                        <p class="white-text m-0">Most Recent</p>
                    </div>
                    <ul class="form-wrapper">
                        {% for key, value in player.get_form.items %}
                        <li class="{{ value }}"><span></span></li>
                        {% endfor %}
                    </ul>
                </div>
                <!--
                <div class="wins">
                    <h4>Killer League Wins</h4>
                    <ul class="wins-wrapper">
                        <li>2023</li>
                    </ul>
                </div>
                -->
            </div>
        </aside>
    {% endfor %}
{% endblock sidebar %}