{% extends '../_base.html' %}

{% block heading %}
    <div class="flex-wrapper align-center">
        <h1>Submit a Game</h1>
        <p class="white-text m-0">Last game submitted on: {{ last_result.0.date|date:"l j F Y" }}</p>
    </div>
{% endblock heading %}

{% block main %}
    <section class="stats-section">
        <div class="primary-container">
            <div class="stats-container">
                <form method="post">
                    {% csrf_token %}
                    <div>
                        <label>{{ form.winner.label }}</label>
                        {{ form.winner }}
                    </div>
                    <div>
                        <label>{{ form.runner_up.label }}</label>
                        {{ form.runner_up }}
                    </div>
                    <div>
                        <label>{{ form.participants.label }}</label>
                        <div class="checkbox-wrapper">
                            {% for checkbox in form.participants %}
                                <div class="checkbox">
                                    <input type="checkbox" id="{{ checkbox.id_for_label }}" name="{{ checkbox.name }}" value="{{ checkbox.value }}" {% if checkbox.checked %}checked{% endif %}>
                                    <label for="{{ checkbox.id_for_label }}">{{ checkbox.choice_label }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <input type="submit" class="button" value="Submit">
                </form>
            </div>
        </div>
    </section>
{% endblock main %}