@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");
.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.bg-transparent {
  background-color: #efefef;
}

.white-text {
  color: #ffffff;
}

.blue-text {
  color: #005aff;
}

.span {
  width: 100%;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.align-stretch {
  align-items: stretch;
}

.desktop {
  display: none !important;
}
@media (min-width: 1100px) {
  .desktop {
    display: flex !important;
  }
}

@media (min-width: 1100px) {
  .mobile {
    display: none !important;
  }
}

header {
  background-color: #19224a;
}
header .primary-container {
  border-bottom: solid 1px rgba(0, 90, 255, 0.35);
}
header .primary-container nav {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
header .primary-container nav .menu-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .primary-container nav .menu-container .logo img {
  display: block;
  width: 50px;
  height: 50px;
}
header .primary-container nav .menu-container .menu {
  display: none;
  gap: 20px;
  list-style-type: none;
}
@media (min-width: 1100px) {
  header .primary-container nav .menu-container .menu {
    display: flex;
  }
}
header .primary-container nav .menu-container .menu li a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  transition: all ease-in-out 0.5s;
}
header .primary-container nav .menu-container .menu li a:hover {
  background-color: #005aff;
}

.sidebar {
  top: 0;
  bottom: 0;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #19224a;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 65px 0;
  transition: all 0.3s ease-in-out;
}
.sidebar .button-close {
  position: absolute;
  top: 0;
  right: 24px;
  font-size: 36px;
  color: #ffffff;
  text-decoration: none;
}
.sidebar .sidebar-wrapper {
  padding: 24px;
}
.sidebar .sidebar-wrapper .statisitics-wrapper {
  list-style-type: none;
  padding: 0;
  margin-bottom: 60px;
}
.sidebar .sidebar-wrapper .statisitics-wrapper li {
  padding: 10px;
  background-color: #ffffff;
  margin-bottom: 12px;
  border-radius: 2px;
}
.sidebar .sidebar-wrapper .statisitics-wrapper li p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.sidebar .form-labels {
  margin-top: 10px;
}
.sidebar .form-labels p {
  font-size: 12px;
}
.sidebar .form-wrapper {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.sidebar .form-wrapper li span {
  height: 20px;
  width: 20px;
  background-color: red;
  display: block;
  border-radius: 50%;
  border: solid 1px #ffffff;
}
.sidebar .form-wrapper li.win span {
  background-color: green;
}
.sidebar .form-wrapper li.runner-up span {
  background-color: orange;
}
.sidebar.active {
  width: 400px;
}

footer {
  background-color: #19224a;
  padding: 48px 0 128px 0;
}

.title-section {
  background-color: #19224a;
  padding: 48px 0 128px 0;
}
.title-section h1 {
  font-size: 32px;
  font-weight: 700;
}

.stats-section .league {
  flex: 1;
}
.stats-section .league h2 {
  font-size: 20px;
  font-weight: 600;
}
.stats-section .global-stats-container {
  background-color: #ffffff;
  padding: 18px;
  text-align: center;
  border: solid 1px #005aff;
  border-radius: 2px;
  margin: 0;
  font-weight: 500;
  width: 100%;
  margin-top: 24px;
}
.stats-section .global-stats-container p {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stats-section .primary-container .stats-container {
  display: flex;
  justify-content: space-between;
  background-color: #005aff;
  border-radius: 8px;
  margin-top: 24px;
  padding: 48px;
}
.stats-section .primary-container .stats-container .flex-wrapper {
  width: 100%;
  justify-content: stretch;
}
.stats-section .primary-container .stats-container ul {
  list-style-type: none;
  padding: 0;
  margin-top: 24px;
}
.stats-section .primary-container .stats-container ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 2px;
  margin-bottom: 8px;
  border: 1px solid #005aff;
}
.stats-section .primary-container .stats-container ul li p {
  font-weight: 500;
  margin: 0;
}
.stats-section .primary-container .stats-container ul li p span {
  color: #005aff;
}
.stats-section .primary-container .stats-container ul li:hover {
  cursor: pointer;
}
.stats-section .primary-container .stats-container.full-width {
  flex: 1;
}

.button {
  font-weight: 500;
  color: #ffffff;
  background-color: #005aff;
  padding: 10px 30px;
  border: 3px solid #19224a;
  text-transform: uppercase;
  transition: all 0.3s ease;
  font-size: 14px;
  cursor: pointer;
  letter-spacing: 0.15rem;
  text-decoration: none;
  position: relative;
  display: block;
}
.button:before {
  content: "";
  position: absolute;
  top: 0;
  top: auto;
  left: 0;
  left: auto;
  background-color: #19224a;
  display: inline-block;
  z-index: -1;
  transition: all 0.3s ease;
  width: 100%;
  width: 3px;
  height: 100%;
  bottom: -6px;
  right: 0;
  transform: translateX(6px);
}
.button:after {
  content: "";
  position: absolute;
  top: 0;
  top: auto;
  left: 0;
  left: auto;
  background-color: #19224a;
  display: inline-block;
  z-index: -1;
  transition: all 0.3s ease;
  width: 100%;
  height: 100%;
  height: 3px;
  bottom: 0;
  right: -6px;
  transform: translateY(6px);
}
.button:hover {
  transform: translate(3px, 3px);
  background-color: #005aff;
}
.button:hover:before {
  transform: translateX(3px);
  bottom: -3px;
}
.button:hover:after {
  transform: translateY(3px);
  right: -3px;
}

body {
  background-color: #19224a;
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
  padding: 42px 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
  margin: 0;
}

.primary-container {
  max-width: 1800px;
  width: 90vw;
  margin: 0 auto;
}

section:nth-of-type(2) {
  margin-top: -80px;
}
section:last-of-type {
  margin-bottom: -80px;
}

/*# sourceMappingURL=style.css.map */
