{% extends '../_base.html' %}

{% block title %}Darts Portal | {{ player }}{% endblock title %}

{% block heading %}
    <div class="flex-wrapper align-center">
        <h1>{{ player.first_name }} <span class="nickname">"{{ player.nickname }}"</span> {{ player.last_name }}</h1>
        <form class="inline">
            <label class="m-0" for="yearSelect">Season:</label>
            <select id="yearSelect">
                <option value="2024">2024</option>
            </select>
        </form>
    </div>
{% endblock heading %}

{% block main %}
    <section class="stats-section">
        <div class="primary-container">
            <div class="flex-wrapper align-stretch">
                <div class="stats-container full-width">
                    <div class="span">
                        <h3>Appearances</h3>
                        <p class="white-text large-text">{{ player.get_this_years_games_played }}</p>
                    </div>
                </div>
                <div class="stats-container full-width">
                    <div class="span">
                        <h3>Wins</h3>
                        <p class="white-text large-text">{{ player.get_this_years_wins }}</p>
                    </div>
                </div>
                <div class="stats-container full-width">
                    <div class="span">
                        <h3>Runner Ups</h3>
                        <p class="white-text large-text">{{ player.get_this_years_runner_ups }}</p>
                    </div>
                </div>
                <div class="stats-container full-width">
                    <div class="span">
                        <h3>Losses</h3>
                        <p class="white-text large-text">{{ player.get_this_years_losses }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="stats-section">
        <div class="primary-container">
            <div class="stats-container direction-column">
                <h3 class="mb-10">Performance</h3>
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </section>
{% endblock main %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script nonce='{{request.csp_nonce}}'>
        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug' ],
                datasets: [{
                    label: 'Form',
                    data: [12, 19, 3, 5, 2, 3, 4, 6],
                    borderWidth: 1,
                    color: '#FFFFFF',
                    borderColor: '#FFFFFF',
                    backgroundColor: '#FFFFFF',
                }],
            },
            options: {
                scales: {
                    x: {
                        grid: {
                            color: 'rgba(255, 255, 255, 0.5)',
                            borderColor: 'rgba(255, 255, 255, 0.5)'
                        },
                        ticks: {
                            color: "#ffffff"
                        }
                    },
                    y: {
                        grid: {
                            color: 'rgba(255, 255, 255, 0.5)',
                            borderColor: 'rgba(255, 255, 255, 0.5)'
                        },
                        ticks: {
                            color: "#ffffff"
                        }
                    }
                },
                plugins: {
                    legend: {
                        labels: {
                            color: '#FFFFFF'
                        }
                    }
                }
            }
        });
    </script>
{% endblock scripts %}