@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

// Fonts
$font: 'IBM Plex Sans', sans-serif;

// Colours
$white: #ffffff;
$dark-blue: #19224a;
$blue: #005aff;

// Media querys.
$mobile-small: "(min-width: 600px)";
$mobile: "(min-width: 850px)";
$tablet: "(min-width: 1100px)";
$desktop: "(min-width: 1600px)";