{% extends '../_base.html' %}

{% block title %}Darts Portal - Karting Leaderboard{% endblock title %}

{% block content %}
    <div class="title-section">
        <h1>Karting Lap Time Leaderboard</h1>
    </div>

<div class="leaderboard pk-border flex-wrapper">
    <div class="league">
        <ul>
            {% for driver in drivers %}
                <li class="player-card">
                    <p>{{ driver.first_name }} {{ driver.last_name }}</p>
                    <p class="game-info"><span class="win-count">{{ driver.get_best_lap_time }}</span></p>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}