@use '../variables';

form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 64px;

    label {
        display: block;
        color: variables.$white;
        margin-bottom: 24px;
        font-size: 20px;
    }

    select {
        font-size: 18px;
        width: 100%;
        padding: 10px;

        &:hover {
            cursor: pointer;
        }
    }

    .button {
        margin-top: 1em;
    }

    .checkbox {
        display: flex;
        align-items: center;
        font-size: 18px;
        margin-bottom: 5px;
        color: variables.$white;

       label {
        margin-bottom: 0;
        margin-left: 10px;

            &:hover {
                cursor: pointer;
            }
       }

        &:hover {
            cursor: pointer;
        }

        &:last-of-type() {
            margin-bottom: 0;
        }
    }

    &.inline {
        justify-content: center;
        align-items: center;
        gap: 24px;
    }
}