.pagination {
    width: 100%;

    .step-links {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .buttons {
            display: flex;
            align-items: center;
            gap: 24px;
        }
    }
}