{% extends '_base.html' %}

{% block title %}Darts Portal | All Killer Results{% endblock title %}

{% block content %}
    <div class="title-section">
        <h1>All Killer Results</h1>
    </div>

    <div class="roadmap pk-border">
        <ul>
            {% for game in all_games %}
                <li class="game-card">
                    <p>{{ game.date }} - Winner: {{ game.winner.first_name }} {{ game.winner.last_name }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock content %}