{% extends '_base.html' %}

{% block title %}Darts Portal | All Killer Results{% endblock title %}

{% block content %}
    <div class="title-section">
        <h1>All Killer Results</h1>
    </div>

    <div class="all-games pk-border">
        <ul>
            {% for game in all_games %}
                <li class="game-card">
                    <p>{{ game.date|date:"D j M" }} | W: {{ game.winner.first_name }} {{ game.winner.last_name }} | RU: {{ game.runner_up.first_name }} {{ game.runner_up.last_name }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock content %}