{% extends '_base.html' %}

{% block title %}Darts Portal | Submit a Game{% endblock title %}

{% block content %}
    <div class="title-section">
        <h1>Submit a Game</h1>
        <p>Last game submitted on: {{ last_result.0.date|date:"l j F Y" }}</p>
    </div>
    <section class="win-form pk-border">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="button" value="Save">
        </form>
    </section>
{% endblock content %}