{% extends '_base.html' %}

{% block title %}Darts Portal{% endblock title %}

{% block content %}
    <div class="title-section">
        <h1>Killer Darts Leaderboard</h1>
        <div class="buttons">
            <a href="{% url 'submit_win' %}" class="button" title="Submit Win">Submit a Game</a>
        </div>
    </div>

    <div class="killer-stats">
        <div class="pk-border">
            <h3>{{ last_result.0.date|date:"l j F" }}</h3>
            <div class="flex-wrapper">
                <p>Winner: <span>{{ last_result.0.winner.first_name }} {{ last_result.0.winner.last_name }}</span><br>Runner Up: <span>{{ last_result.0.runner_up.first_name }} {{ last_result.0.runner_up.last_name }}</span></p>
            </div>
        </div>
        <div class="pk-border"></div>
        <div class="pk-border"></div>
        <div class="pk-border">
            <h3>This Year at a Glance</h3>
            <div class="flex-wrapper">
                <p>Total Games: <span class="block">{{ this_years_game_count }}</span></p>
            </div>
        </div>
    </div>

    <div class="leaderboard pk-border flex-wrapper">
        <div class="league">
            <h2>Champions League</h2>
            <ul>
                {% for player in champions_league_players %}
                    <li class="player-card">
                        <p>{{ player.get_form_emoji }} {{ player.first_name }}{% if player.nickname %} <span>"{{ player.nickname }}"</span> {% endif %} {{ player.last_name }}</p>
                        <p class="game-info">(P{{ player.get_this_years_games_played }} RU{{ player.get_this_years_runner_ups }}) <span class="win-count">{{ player.get_this_years_wins }}</span></p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="league">
            <h2>Premier League</h2>
            <ul>
                {% for player in premier_league_players %}
                    <li class="player-card">
                        <p>{{ player.get_form_emoji }} {{ player.first_name }}{% if player.nickname %} <span>"{{ player.nickname }}"</span> {% endif %} {{ player.last_name }}</p>
                        <p class="game-info">(P{{ player.get_this_years_games_played }} RU{{ player.get_this_years_runner_ups }}) <span class="win-count">{{ player.get_this_years_wins }}</span></p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="league">
            <h2>Championship</h2>
            <ul>
                {% for player in championship_players %}
                    <li class="player-card">
                        <p>{{ player.get_form_emoji }} {{ player.first_name }}{% if player.nickname %} <span>"{{ player.nickname }}"</span> {% endif %} {{ player.last_name }}</p>
                        <p class="game-info">(P{{ player.get_this_years_games_played }} RU{{ player.get_this_years_runner_ups }}) <span class="win-count">{{ player.get_this_years_wins }}</span></p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="league">
            <h2>Vanarama</h2>
            <ul>
                {% for player in vanarama_players %}
                    <li class="player-card">
                        <p>{{ player.get_form_emoji }} {{ player.first_name }}{% if player.nickname %} <span>"{{ player.nickname }}"</span> {% endif %} {{ player.last_name }}</p>
                        <p class="game-info">(P{{ player.get_this_years_games_played }} RU{{ player.get_this_years_runner_ups }}) <span class="win-count">{{ player.get_this_years_wins }}</span></p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    {% for player in players %}
        <aside class="sidebar">
            <a href="#" class="button-close">&times;</a>
            <div class="sidebar-wrapper">
                <h3>{{ player.first_name }} {{ player.last_name }}</h3>
                <ul class="statisitics-wrapper">
                    <li><p>Wins: <span>{{ player.get_this_years_wins }}</span></p></li>
                    <li><p>Runner Ups: <span>{{ player.get_this_years_runner_ups }}</span></p></li>
                    <li><p>Games Played: <span>{{ player.get_this_years_games_played }}</span></p></li>
                    
                    <li class="mt-36"><p>Last Win: <span>{{ player.get_last_win }}</span></p></li>
                    <li><p>Predicted Wins: <span>{{ player.get_predicted_wins }}</span></p></li>
                    <li><p>Win Ratio: <span>{{ player.get_win_ratio }}</span></p></li>
                    
                    <li class="mt-36"><p>All-time Wins: <span>{{ player.get_total_points }}</span></p></li>
                    <li><p>All-time Games Played: <span>{{ player.games_played.count }}</span></p></li>
                    <!--<li><p>Longest Win Streak: <span>[ Streak ]</span></p></li>-->
                </ul>
                <div class="form">
                    <h4>Current Form: {{ player.get_form_score|floatformat:2 }}</h4>
                    <ul class="form-wrapper">
                        {% for key, value in player.get_form.items %}
                        <li class="{{ value }}"><span></span></li>
                        {% endfor %}
                    </ul>
                </div>
                <!--
                <div class="wins">
                    <h4>Killer League Wins</h4>
                    <ul class="wins-wrapper">
                        <li>2023</li>
                    </ul>
                </div>
                -->
            </div>
        </aside>
    {% endfor %}

    <div class="views flex-wrapper">
        <div class="monthly-leaders pk-border">
            <h3>Monthly Top 3</h3>
            <ul>
                {% for player in monthly_leaders %}
                    <li class="player-card">
                        <p>{{ player.first_name }}{% if player.nickname %} <span>"{{ player.nickname }}"</span> {% endif %} {{ player.last_name }}</p>
                        <p class="game-info">(P{{ player.get_this_months_games_played }} RU{{ player.get_this_months_runner_ups }}) <span class="win-count">{{ player.get_this_months_wins }}</span></p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    
        <div class="weekly-leaders pk-border">
            <h3>Weekly Top 3</h3>
            <ul>
                {% for player in weekly_leaders %}
                    <li class="player-card">
                        <p>{{ player.first_name }}{% if player.nickname %} <span>"{{ player.nickname }}"</span> {% endif %} {{ player.last_name }}</p>
                        <p class="game-info">(P{{ player.get_this_weeks_games_played }} RU{{ player.get_this_weeks_runner_ups }}) <span class="win-count">{{ player.get_this_weeks_wins }}</span></p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}