{% extends '_base.html' %}

{% block title %}Darts Portal | Roadmap{% endblock title %}

{% block content %}
    <div class="title-section">
        <h1>Upcoming Features</h1>
    </div>

    <div class="roadmap pk-border">
        <h2>Coming Soon</h2>
        <ul>
            <li>Form Reversed</li>
            <li>Past Champs</li>
            <li>Bets</li>
            <li>See Old Leaderboards</li>
            <li>Limit Form to Once Per Day</li>
            <li>Slack Notifications</li>
            <li>Number Tracking</li>
            <li>Observations ( Eg. T is in form he's won the last 4 games )</li>
            <li>Predictions ( E.g. Bray is most likely to win today because it's a Tuesday and he is number 6 etc )</li>
            <li>SCSS & Gulp Functionality</li>
            <li>Mobile Responsive</li>
        </ul>
    </div>

{% endblock content %}