@use 'variables';

// Margin / Padding
.m-0 {

    @media #{variables.$tablet} {
        margin: 0;
    }
}

.p-0 {
    padding: 0;
}

// Colours
.bg-transparent {
    background-color: #efefef;
}

.white-text {
    color: variables.$white;
}

.blue-text {
    color: variables.$blue;
}

// Width / Height
.span {
    width: 100%;
}

// Flex
.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media #{variables.$tablet} {
        flex-wrap: nowrap;
        gap: 24px;
    }
}

.align-stretch {
    align-items: stretch;
}

.align-center {
    align-items: center;
}

// Show / Hide
.desktop {
    display: none !important;

    @media #{variables.$tablet} {
        display: flex !important;
    }
}

.mobile {

    @media #{variables.$tablet} {
        display: none !important;
    }
}