@use 'variables';

// Margin / Padding
.m-0 {

    @media #{variables.$tablet} {
        margin: 0;
    }
}

.mb-10 {
    margin-bottom: 10px;
}

.p-0 {
    padding: 0;
}

.pl-24 {
    padding-left: 24px;
}

.pr-24 {
    padding-right: 24px;
}

// Colours
.bg-transparent {
    background-color: #efefef;
}

.white-text {
    color: variables.$white;
}

.blue-text {
    color: variables.$blue;
}

// Font Sizing
.large-text {
    font-size: 50px;
    font-weight: 600;
    margin: 10px 0 0 0;
}

// Width / Height
.span {
    width: 100%;
}

// Flex
.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media #{variables.$tablet} {
        flex-wrap: nowrap;
        gap: 24px;
    }
}

.align-stretch {
    align-items: stretch;
}

.align-center {
    align-items: center;
}

.direction-column {
    flex-direction: column;
}

// Show / Hide
.desktop {
    display: none !important;

    @media #{variables.$tablet} {
        display: flex !important;
    }
}

.mobile {

    @media #{variables.$tablet} {
        display: none !important;
    }
}