// sass --watch static/scss/main.scss:static/css/style.css

@use 'variables';
@use 'utilities';

@use 'layouts/header';
@use 'layouts/sidebar';
@use 'layouts/footer';

@use 'components/title-section';
@use 'components/stats-section';

@use 'components/button';
@use 'components/table';
@use 'components/pagination';
@use 'components/form';

// Main Styles Used Globally
body {
    background-color: variables.$dark-blue;
    font-family: variables.$font;
    margin: 0;
    padding: 42px 0;
}

h1, h2, h3, h4, h5, h6 {
    color: variables.$white;
    margin: 0;
}

.primary-container {
    max-width: 1800px;
    width: 90vw;
    margin: 0 auto;
}

section {

    &:nth-of-type(2) {
        margin-top: -80px;
    }

    &:last-of-type {
        margin-bottom: -80px;
    }
}