// sass --watch static/scss/main.scss:statc/css/style.css

@use 'variables';
@use 'utilities';

@use 'components/button';
@use 'components/form';
@use 'components/hero-section';
@use 'components/killer-stats';
@use 'components/nav';
@use 'components/sidebar';
@use 'components/table';
@use 'components/views';
@use 'components/sessions';

body {
    background-color: variables.$dark-blue;
    font-family: variables.$font;
    margin: 0;
    padding: 42px 0;
}

h1, h2, h3, h4, h5, h6 {
    color: variables.$white;
    margin: 0;
}

.primary-container {
    max-width: 1800px;
    width: 90vw;
    margin: 0 auto;
}

.title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;

    p {
        color: variables.$white;
    }
}

.flex-wrapper {

    .league {
        width: calc(100% / 4);

        ul {
            list-style-type: none;
            padding: 0;
            margin-top: 24px;

            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #ffffff;
                padding: 10px;
                border-radius: 2px;
                margin-bottom: 8px;
                border: 1px solid #005aff;

                p {
                    font-weight: 500;
                    margin: 0;

                    span {
                        color: #005aff;
                    }
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

.all-games {
    list-style-type: none;

    ul {

        li {
            color: variables.$white;
        }
    }
}

#id_participants {
    height: 380px;
}